//Police du corps de page
$body-font: Verdana, Geneva, Tahoma, sans-serif;

//Couleurs
$black-color: black;
//Couleurs Italie
$red-color: #cd212a;
$green-color: #008c45;
$white-color: #f4f5f0;

//Diets
$diets-fish: darkblue;
$diets-ham: darkred;

//Lists
$breakpoints: 540px, 720px, 960px;

//$maps
$diets: (
    fish: darkblue,
    ham: darkred,
    vege: darkgreen,
);