//Police du corps de page
$body-font: Verdana, Geneva, Tahoma, sans-serif;

//Couleurs
$black-color: #333;
//Couleurs Italie
$red-color: #cd212a;
$green-color: #008c45;
$white-color: #f4f5f0;

//Diets
$diets-fish: darkblue;
$diets-ham: darkred;

//Breakpoints
$small: 540px;
$medium: 720px;
$large: 960px;

//Mixins
@mixin media-query($breakpoints) {
    @media (min-width: $breakpoints) {
        @content;
    }
}

body {
    font-family: $body-font;
    color: $black-color;
}

//Menu de navigation

.main-menu {
    background-color: #8c0047;

    ul {
        list-style-type: none;
        padding-left: 0;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;

        @include media-query($small) {
            flex-wrap: nowrap;
        }

        li {
            flex: 100%;

            @include media-query($small) {
                flex: 1 0 auto;
            }

            @include media-query($medium) {
                flex: 0 1 auto;
            }
        }

        a {
            border: 1px solid $black-color;
            text-decoration: none;
            display: block;
            padding: 0.25em 0.5em;
            background-color: $white-color;
            color: $red-color;
            margin: 0.25em;

            &:hover {
                background-color: $red-color;
                color: $white-color;
            }
        }
    }
}

.pizza {
    border: 1px solid #333;
}

.pizza.diet-fish {
    color: darkblue;
}

.pizza.diet-ham {
    color: darkred;
}

.pizza.diet-vege {
    color: darkgreen;
}